* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{    
    --main-color-one: #0FA958;
    --main-color-two: #FFC700;
    --main-color-three: #5551ff;
    --main-color-four: rgb(242, 78, 30);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amaranth', sans-serif;
    margin: 0;   
}

.indexpage{
    position: relative;
}

.indexpage__logo{    
    position: relative;
    cursor: default;
}

.indexpage__logo-part-1{
    font-size: 52px;
}

.indexpage__logo-part-1-list{
    color:var(--main-color-one);
}

.indexpage__logo-part-2{
    position: absolute;
    font-size: 18px;
    font-family: 'Bad Script', cursive;
    bottom: -20px;
    right: 5px;
}

.indexpage__registration-block-email-field{
    border: 2px solid var(--main-color-one);
    outline: none;
    margin: 0px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    max-width: 200px;
    padding: 0 5px 0 5px;
    color: var(--main-color-one);
}

.indexpage__registration-button-ok{
    background: var(--main-color-one);
    color: white;
    border: none;
    outline: none;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    height: 40px;
    padding: 0 10px 0 10px;
}

.indexpage__registration{
    position: relative;
    display: flex;    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.index__registration-items{
    display: flex;
    flex-direction: column;
}
