* {
    box-sizing: border-box;
}
body{
    --main-color-one: #ff420e;
    --main-color-two: #b6b6b6;
    --main-color-three:#0FA958 ;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-two);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}